$bg: #FFFFFF;
$surface: #FAFAFA;
$text: #0A0A0A;
$secondary-text: #737373;
$muted: #64748b;
$border: #D4D4D4;
$accent: #FAFAFA;

$light-gray: #E5E5E5;


$green: #008236;
$medium-green: #B9F8CF;
$light-green: #F0FDF4;

$red: #C10007;
$medium-red: #FFC9C9;
$light-red: #FEF2F2;

$blue: #1447E6;
$medium-blue: #BEDBFF;
$light-blue: #EFF6FF;
$danger: #ef4444;

$radius: 16px;
$radius-sm: 8px;


$font-sans: 'Inter', system-ui, sans-serif;

$fs-weight: 400;
$fs-base: 16px;
$lh: 100%;

